body {
	background-image: url("images/bg-login-top.png");

}

.top-grey {
	 
	 margin: 0 auto;
	 height: 20em;
}
.treema {
	text-align: center;
	padding-top: 13em;
}
.bottom-black {
	background-image: url("images/bg-login.png");
	height: 20em;
}
.userpass {
	color: #fff;
	display: inline-block;
	font-family: sans-serif;
	font-size: 0.8em;
}
.formblock1 {
	padding-top: 1.5em;
	margin: 1em auto;
	text-align: center;
}

.formblock2 {
	margin: 1em auto;
	text-align: center;
}
.username{
	border-radius: 2px;
	height: 2em;
	width: 15em;
}
.password {
	border-radius: 2px;
	height: 2em;
	width: 15em;
	margin: 0 ;
}
.subBut {

	margin: 0 auto;
}
button{
	display: block;
	margin: 0 auto;
	color: #fff;
	background-color: #5CA400;
	height: 2em;
	border-radius: 2px;
	font-size: 0.8em;
	font-family: sans-serif;
}